<div style="font-family: Roboto, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0">
  <div style="width: 100%; max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px; border: 1px solid #dddddd">
    <div style="text-align: center; background-color: #4CAF50; color: white; padding: 10px 0">
      <h1>
        Добро пожаловать!
      </h1>
    </div>
    <div style="margin: 20px 0; text-align: center">
      <p>Здравствуйте, {{fullName}},</p>
      <p>Вы успешно забронировали номер:</p>
      <p>Комната: {{room}}</p>
      <p>Отель: {{hotel}}</p>
      <p>Сумма: {{price}}</p>
      <p>Дата заезда: {{checkIn}}</p>
      <p>Дата отъезда: {{checkOut}}</p>
      <p>Количество забронированных ночей: {{nightsCount}}</p>
      <p>Количество гостей: {{guests}}</p>
      <p>Указанный номер для связи: {{phone}}</p>
    </div>
    <div style="text-align: center; color: #777777; font-size: 12px; margin-top: 20px; border-top: 1px solid #dddddd; padding-top: 10px">
      <p>Если у вас есть вопросы, пожалуйста, свяжитесь с нашей службой поддержки.</p>
      <p>&copy; {{year}} BookingLounge. Все права защищены.</p>
    </div>
  </div>
</div>
